header {
  height: 300px;
  background-color: #bfed97;
  border-radius: 10px;
  font-size: 30px;
  box-sizing: border-box;
  padding: 20px;
}

main {
  min-height: 600 px;

  background-color: #999999;

  border-radius: 10 px;

  font-size: 30 px;

  box-sizing: border-box;

  padding: 20 px;
}
